<div class="col-sm-12 col-md-12 main" ng-controller="HomeController">
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To </div>
                <div class="intro-heading">PuttyFace</div>
                <a href="#/gallery" class="btn btn-xl">Show Me More</a>
            </div>
        </div>
    </header>
    <!--
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About PuttyFace</h2>
                    <p class="section-subheading">
                        We all know that making things is hard because this is what we do all day, and we understand the dedication required to make something great.<br><br>
                        But what if it was wasn’t?<br><br>

                        We call it PuttyFace and we hope you enjoy it.<br><br>

                        PuttyFace imports any 3D object and allows you to sculpt it with your hands or controller in VR. You can play, share, add emoji stickers, or print your object with a simple and intuitive UI just as your would play-doh. The results are unique and require no technical background to get started. Its perfect for kids and adults alike and is highly addictive.<br><br>

                        Download us on <a href="http://store.steampowered.com/">steam</a> and start creating!<br><br>

                        Need ideas? Check out what other people’s <a href="#/portfolio">creation</a> for inspiration.</p>
                </div>
            </div>
        </div>
    </section>
-->
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About PuttyFace</h2>
                    <h3 class="section-subheading text-muted">VR Play Doh</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Before PuttyFace</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We all know that making things is hard because this is what we do all day, and we understand the dedication required to make something great.<br><br>
                                        But what if it was wasn’t?</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">PuttyFace is Born!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We call it PuttyFace and we hope you enjoy it.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">What is PuttyFace?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">PuttyFace imports any 3D object and allows you to sculpt it with your hands or controller in VR. You can play, share, add emoji stickers, or print your object with a simple and intuitive UI just as your would play-doh. The results are unique and require no technical background to get started. Its perfect for kids and adults alike and is highly addictive.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Get on PuttyFace!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Download us on <a href="http://store.steampowered.com/">steam</a> and start creating!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of
                                    <br>PuttyFace</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


</div>